@import "../mixins/mixins";
@import "../common/var";
@import "../common/zw";
@import "../mixins/own";

$bg-color: #fff;
$font-color-bold: black;
$dark: #20c997 !default;
$member-header-bg :#549EEF;
$member-card-inner-bg :#fff;
@include b(member) {
    @include remCalc(font-size, 1.6);
    @include remCalc(padding-bottom, 4);
    text-align: center;
    padding-bottom: 40px;
    overflow: scroll;
    @include b(header) {
        @include remCalc(height, 16.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $member-header-bg;
        background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.40) 100%);
        @include m(row) {
            @include remCalc(height, 8);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include e(col) {
                @include remCalc(font-size, 1.6); // @include remCalc(border-right, (0.1 solid $--border-color-base)); // box-shadow: 1px 0 2px 0 rgba(32,67,106,0.20);
                flex: 1;
            }
            @include when(mt20) {
                margin-top: 20px;
            }
            @include when(br) {
                &>* {
                    flex: 1;
                    position: relative;
                    &:last-child:before {
                        width: 0;
                        height: 0;
                    }
                    &:before {
                        content: '';
                        width: 1px;
                        height: 60%;
                        background-color: rgba(229, 243, 253, 0.60);
                        box-shadow: 1px 0 2px 0 rgba(32, 67, 106, 0.20);
                        top: 20%;
                        right: 0;
                        position: absolute;
                    }
                }
            }
        }
        .title {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: rgba(243, 249, 253, 0.60);
            line-height: 20px;
        }
        .value {
            font-family: PingFangSC-Medium;
            font-size: 18px;
            color: #fff;
            text-shadow: 0 1px 2px rgba(23, 123, 230, 0.40);
        }
        .icon {
            &>img {
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
        }
        @include b(large) {
            font-size: 30px;
        }
    } //卡片
    @include b(card) {
        @include remCalc(margin, 1);
        @include remCalc(padding, 1);
        @include remCalc(border-radius, 0.5);
        border: 1px solid rgba(32, 67, 106, 0.20);
        display: flex;
        flex-direction: column;
        @include when(inner) {
            @include remCalc(padding, 0 1);
            background: $member-card-inner-bg;
        }
        @include m(row) {
            @include remCalc(padding, 1 0);
            border-bottom: 1px solid $--border-color-base;
            flex: 0 0 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &:last-child {
                border-bottom: none;
            }
            .title {
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #20436A;
            }
            .value {
                font-family: PingFangSC-Medium;
                font-size: 18px;
                color: #20436A;
            }
            @include when(br) {
                &>* {
                    flex: 1;
                    position: relative;
                    &:last-child:before {
                        width: 0;
                        height: 0;
                    }
                    &:before {
                        content: '';
                        width: 1px;
                        height: 60%;
                        background-color: rgba(32, 67, 106, 0.20);
                        top: 20%;
                        right: 0;
                        position: absolute;
                    }
                }
            }
        }
    } //字体大小及颜色
    @include b(large) {
        @include remCalc(font-size, 1.8);
    }
    @include b(small) {
        @include remCalc(font-size, 1.4)
    }
    @include b(bold) {
        font-weight: bold;
        color: $font-color-bold;
    }
    @include b(gray) {
        color: #9B9B9B;
        padding: 0 14px;
    } //固定样式
    @include b(col-lr) {
        justify-content: space-between;
        &>*:nth-child(1) {
            text-align: left;
        }
        &>*:nth-child(2) {
            text-align: right;
        }
    } // 底部按钮
    @include b(footer) {
        @include remCalc(width, 4);
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(-90deg, #75B0F1 0%, #75D0F1 100%);
        box-shadow: 0 -2px 8px 0 rgba(118, 177, 242, 0.60);
        line-height: 40px;
        font-family: PingFangSC-Medium;
        font-size: 18px;
        color: #FDFBF4;
    }
    .btn {
        background-image: linear-gradient(-90deg, #75B0F1 0%, #75D0F1 100%);
        box-shadow: 1px 1px 4px 0 rgba(117, 176, 241, 0.60);
        border-radius: 100px;
        line-height: 24px;
        font-family: PingFangSC-Regular;
        font-size: 10px;
        color: #FFFFFF;
        padding: 0 12px;
    }
}