@import "../mixins/mixins";
@import "../common/var";
@import "../common/zw";
@import "../mixins/own";


@include b(member) {
	@include b(card) {
		@include remCalc(padding,1)
		border: 1px solid $--border-color-base;
		display: flex;
		background-color: $--color-white;
		jusitify: center;
		@include b(row) {
			@include remCalc(padding, .5)
			border-bottom: 1px solid $--border-color-base;
			flex: 1;
			text-align: center;
			&:last-child {
				border-bottom: none;
			}
			@include when (bl) {
				border-right: 1px solid $--border-color-base;
			}
		}
		
		@include b(col) {
			@include when(left) {
				text-align: left;
			}
			@include when(right) {
				text-align: right;
			}
		} 
	}
}


