$base-font-size: 10 !default;
@mixin font-dpr($font-size) {
    font-size: $font-size; //字号大小统一方法
    // [data-dpr="2"] & {
    //     font-size: $font-size * 2;
    // }
    // [data-dpr="3"] & {
    //     font-size: $font-size * 3;
    // }
}

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

@function pxTorem($target-size, $context:$base-font-size) {
    @if not unitless($target-size) {
        $target-size: strip-units($target-size);
    }
    @if not unitless($context) {
        $context: strip-units($context);
    }
    @return ($target-size / $context) * 1rem;
}

@mixin remCalc($props, $sizes, $base:$base-font-size) {
    $values: ();
    $sublists: false;
    @each $s in $sizes {
        //循环列表中多个属性值，例如text-shadow属性 
        @if type-of($s)==list {
            $sublists: true;
            $vv: ();
            @each $ss in $s {
                $vv: append($vv, if(type-of($ss)==number, #{$ss / $base}rem, $ss));
            }
            $values: append($values, join((), $vv));
        }
        @else {
            // $values: append($values, if(type-of($s)==number, #{$s / $base}rem, $s));  //px转为rem等都可以在这里处理
            $values: append($values, if(type-of($s)==number, #{$s * $base}px, $s));    
        }
    }
    $value: join((), $values, if($sublists, comma, space));
    @each $prop in $props {
        #{$prop}: $value
    }
}

//SCSS .header { font-size: pxToem(12); h1 { font-size: pxToem(12,24); } } .footer { margin: pxToem(12px); h1 { margin: pxToem(12px,24px); } } 
//CSS .header { font-size: 0.75em; } .header h1 { font-size: 0.5em; } .footer { margin: 0.75em; } .footer h1 { margin: 0.5em; }
//SCSS .header { @include emCalc(line-height, 30, 16); @include emCalc(width height, 125); @include emCalc(padding, 0 25, 16); @include emCalc(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16); @include emCalc(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16); } 
//CSS .header { line-height: 1.875em; width: 7.8125em; height: 7.8125em; padding: 0em 1.5625em; text-shadow: #0d6e28 0.0625em 0.0625em, #777777 0em 0em 0.125em; box-shadow: inset 0em 0em 0em 0.0625em #2a9022, inset 0em 0em 0.1875em #459966; }


/**
 * flex 布局
 */
// 容器的属性六个属性
//1. flex-direction :决定了主轴的方向： row,column,row-reverse,column-reverse
//2. flex-wrap: 换行方式： nowrap,wrap,wrap-reverse  
//3. flex-flow: flex-direction&&flex-wrap的简写： <flex-direction> || <flex-wrap>
//4. jusitify-content: 主轴上的对齐方式： flex-start,flex-end,center,space-between（两端对齐，项目之间的间隔相等）,space-around(每个项目两侧间隔相等)
//5. align-items: 属性在交叉轴上如何对齐： flex-start,flex-end,center,baseline,stretch
//6. align-content: 多根轴线的对齐方式： flex-start,flex-end,center,space-between,space-around,stretch,
// 项目的属性六个属性
//1.order: 数值越小，排列越靠前
//2.flex-grow: 放大比例  default: 0
//3.flex-shrink: 缩小比例 default: 0
//4.flex-basis:  项目占据的主轴空间   default: auto; （项目本来大小）
//5.flex: flex-grow,flex-shrink,flex-basis的简写： defalut: 0 1 auto
//6. align-self: 项目与其他项目不一样的对齐方式，可覆盖align-items. : auto,flex-start,flex-end,center,baseline,stretch
//
// flex 的十二个属性 容器&&项目的属性。